html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
::after,
::before,
html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: inconsolata,monospace
}
body {
  font-size: 1.6rem;
  background: #242836
}
.ani__main {
  padding: 4.7rem
}
.tag__title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 3px
}
.overlay {
  position: fixed;
  display: none;
  justify-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  cursor: pointer
}
.overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #fff;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%)
}
.tab__container {
  width: 60%;
  margin-top: 100px;
  border-radius: 25px
}
.tab {
  overflow: hidden;
  background-color: #242836;
  color: #fff;
  width: 100%
}
.tab button {
  background-color: inherit;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: 17px;
  color: #fff
}
.tab button:hover {
  background-color: #242836;
  color: #de314f
}
.tab button.active {
  background-color: #de314f
}
.tabcontent {
  display: none;
  border-top: none;
  width: 100%;
  background: #000;
  font-family: 'JetBrains Mono',monospace
}
.tabcontent pre {
  width: 100%;
  height: 400px
}
.close-btn {
  float: right
}
pre {
  font-family: 'JetBrains Mono',monospace;
  overflow: auto
}
.copy--btn {
  width: 100%;
  text-align: center;
  background: #de314f;
  color: #fff;
  font-size: 1.8rem;
  padding: 10px;
  border: none
}
.section__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  justify-items: center
}
@media screen and (min-width:630px) {
  .section__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
  }
}
@media screen and (min-width:960px) {
  .section__container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr
  }
}
@media screen and (min-width:1280px) {
  .section__container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}
.buttons {
  background: #de314f;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  border-radius: 6px;
  border: none;
  letter-spacing: 4px;
  width: 237px;
  height: 59px;
  cursor: pointer
}
.b1 {
  position: relative;
  z-index: 1;
  overflow: hidden
}
.b1::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242836;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1
}
.b1:hover {
  color: #fff;
  border: 1px solid #de314f
}
.b1:hover::before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
.b2 {
  position: relative;
  width: 237px;
  height: 59px;
  background: #de314f;
  z-index: 1
}
.b2::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #fff;
  border-radius: 4px;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 0
}
.b2:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1
}
.b3 {
  position: relative;
  width: 237px;
  height: 59px;
  background: #de314f;
  z-index: 1
}
.b3::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 100%;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  background: #242836;
  z-index: -1
}
.b3:hover::after {
  width: 100%;
  border: #de314f solid 1px
}
.b4 {
  position: relative;
  width: 237px;
  height: 59px;
  z-index: 1;
  background: #242836
}
.b4::after {
  content: 'HOVER ME';
  background: #de314f;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 59px;
  border: #de314f 1px solid
}
.b4:hover {
  border: #de314f 1px solid
}
.b4:hover::after {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg)
}
.copied {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #4acd87;
  height: 0;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
  z-index: 10000
}
.copied p {
  color: #fff;
  font-family: inconsolata,monospace;
  font-size: 1.5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
footer {
  background: #242836;
  width: 100%;
  padding: 21px;
  display: -ms-grid;
  display: grid
}
footer p {
  margin: 0
}
footer .logo {
  font-family: Jura,sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr;
  -ms-grid-columns: min-content 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
footer .logo .logo__title {
  font-size: 4.3rem;
  color: #fff;
  margin-left: 10px
}
footer .logo .logo__tagline {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-size: 2.6rem;
  color: #de314f;
  margin-top: 6px
}
footer .footer__txt {
  margin-top: 20px;
  font-family: inconsolata,monospace;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: .2rem;
  line-height: 3rem
}
footer .footer__highlight--white {
  font-weight: 600
}
footer .footer__highlight--red {
  color: #de314f;
  font-weight: 600
}
footer small {
  -ms-grid-column-align: center;
  justify-self: center;
  color: #fff;
  font-family: inconsolata,monospace;
  font-size: 1.5rem;
  margin-top: 83px
}
.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px
}
.image .box1 {
  overflow: hidden;
  margin: 10px;
  width: 200px;
  height: 200px
}
.image .box1 .img1 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}
.image .box1 .img1:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3)
}
.image .box2 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px
}
.image .box2 .img2 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}
.image .box2 .img2:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}
.image .box3 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.image .box3 .img3 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.image .box3:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 5px 5px 5px rgba(196,196,196,.877);
  box-shadow: 5px 5px 5px rgba(196,196,196,.877)
}
.image .box4 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.image .box4 .img4 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.image .box4:hover {
  -webkit-filter: blur(0);
  filter: blur(0)
}
.image .box5 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.image .box5 .img5 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.image .box5 .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(0,0,0,.596);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}
.image .box5 .mask .caption {
  font-size: 130%;
  color: #fff;
  text-align: center;
  line-height: 200px
}
.image .box5:hover .mask {
  top: 0
}
.image .box6 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px
}
.image .box6 .img6 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.image .box6 .img6:hover {
  -webkit-transform: rotate(-25deg) scale(1.5);
  -ms-transform: rotate(-25deg) scale(1.5);
  transform: rotate(-25deg) scale(1.5)
}
.image .box7 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.image .box7 .img7 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.image .box7 .img7_after {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0
}
.image .box7:hover .img7_after {
  opacity: 1
}
.image .box8 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.image .box8 .img8 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.image .box8 .mask {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.596);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}
.image .box8 .mask .caption {
  font-size: 130%;
  color: #fff;
  text-align: center;
  line-height: 200px
}
.image .box8:hover .mask {
  top: 100%
}
.loader {
  display: relative;
  width: 20rem;
  height: 20rem;
  margin: 10px
}
.loader .ball {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .ball div {
  position: absolute;
  margin: 10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50% 50%;
  background: #de314f;
  -webkit-animation: 1.5s ball infinite ease;
  animation: 1.5s ball infinite ease
}
.loader .ball div:nth-child(2) {
  -webkit-transform: translate(-2rem);
  -ms-transform: translate(-2rem);
  transform: translate(-2rem);
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}
.loader .ball div:nth-child(3) {
  -webkit-transform: translate(2rem);
  -ms-transform: translate(2rem);
  transform: translate(2rem);
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}
@-webkit-keyframes ball {
  0% {
    width: 2rem;
    height: 2rem
  }
  50% {
    width: 0;
    height: 0
  }
  100% {
    width: 2rem;
    height: 2rem
  }
}
@keyframes ball {
  0% {
    width: 2rem;
    height: 2rem
  }
  50% {
    width: 0;
    height: 0
  }
  100% {
    width: 2rem;
    height: 2rem
  }
}
.loader .rotation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .rotation div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: 1.5s rotation infinite ease;
  animation: 1.5s rotation infinite ease
}
.loader .rotation div:nth-child(2) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}
.loader .rotation div:nth-child(3) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px)
  }
  25% {
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px)
  }
  50% {
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px)
  }
  75% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px)
  }
  100% {
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px)
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px)
  }
  25% {
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px)
  }
  50% {
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px)
  }
  75% {
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px)
  }
  100% {
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px)
  }
}
.loader .square {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .square div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: 1.5s square infinite ease;
  animation: 1.5s square infinite ease
}
.loader .square div:nth-child(2) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}
.loader .square div:nth-child(3) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
@-webkit-keyframes square {
  0% {
    opacity: .8;
    width: 0;
    height: 0
  }
  100% {
    opacity: 0;
    width: 5rem;
    height: 5rem
  }
}
@keyframes square {
  0% {
    opacity: .8;
    width: 0;
    height: 0
  }
  100% {
    opacity: 0;
    width: 5rem;
    height: 5rem
  }
}
.loader .bounce {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .bounce div {
  margin: 10px;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: .9s bounce infinite ease;
  animation: .9s bounce infinite ease
}
.loader .bounce div:nth-child(1) {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s
}
.loader .bounce div:nth-child(2) {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.loader .nine {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.loader .nine_one div {
  margin: 10px 5px 10px 5px;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: nine 2s infinite ease;
  animation: nine 2s infinite ease
}
.loader .nine_one div:nth-child(1) {
  -webkit-animation-delay: -.25s;
  animation-delay: -.25s
}
.loader .nine_one div:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.loader .nine_one div:nth-child(3) {
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s
}
.loader .nine_two div {
  margin: 10px 5px 10px 5px;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: nine 2s infinite ease;
  animation: nine 2s infinite ease
}
.loader .nine_two div:nth-child(1) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}
.loader .nine_two div:nth-child(2) {
  -webkit-animation: none;
  animation: none;
  opacity: 0
}
.loader .nine_two div:nth-child(3) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s
}
.loader .nine_tree div {
  margin: 10px 5px 10px 5px;
  width: 2rem;
  height: 2rem;
  background: #de314f;
  border-radius: 50% 50%;
  -webkit-animation: nine 2s infinite ease;
  animation: nine 2s infinite ease
}
.loader .nine_tree div:nth-child(1) {
  -webkit-animation-delay: -.75s;
  animation-delay: -.75s
}
.loader .nine_tree div:nth-child(2) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.loader .nine_tree div:nth-child(3) {
  -webkit-animation-delay: -1.25s;
  animation-delay: -1.25s
}
@-webkit-keyframes nine {
  0% {
    opacity: 1
  }
  98% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes nine {
  0% {
    opacity: 1
  }
  98% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.loader .house {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}
.loader .house .roof {
  position: absolute;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #de314f transparent
}
.loader .house .wall {
  position: absolute;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  height: 50px;
  width: 50px;
  background: #de314f
}
.loader .house .chimney {
  position: absolute;
  -webkit-transform: translate(-20px,-25px);
  -ms-transform: translate(-20px,-25px);
  transform: translate(-20px,-25px);
  height: 20px;
  width: 10px;
  background: #de314f
}
.loader .house .smoke div {
  position: absolute;
  -webkit-transform: translate(-25px,-34px);
  -ms-transform: translate(-25px,-34px);
  transform: translate(-25px,-34px);
  height: 6px;
  width: 10px;
  border-radius: 50% 50%;
  background: #de314f;
  -webkit-animation: 1.5s smoke infinite ease;
  animation: 1.5s smoke infinite ease
}
.loader .house .smoke div:nth-child(2) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}
@-webkit-keyframes smoke {
  0% {
    width: 10px
  }
  20% {
    width: 10px
  }
  100% {
    width: 20px;
    opacity: 0;
    -webkit-transform: translate(-25px,-70px);
    transform: translate(-25px,-70px)
  }
}
@keyframes smoke {
  0% {
    width: 10px
  }
  20% {
    width: 10px
  }
  100% {
    width: 20px;
    opacity: 0;
    -webkit-transform: translate(-25px,-70px);
    transform: translate(-25px,-70px)
  }
}
.loader .clock {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}
.loader .clock .circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #de314f;
  border-radius: 50% 50%
}
.loader .clock .hand {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #de314f;
  border-radius: 50% 50%
}
.loader .clock .hand .big {
  margin: 0 auto;
  height: 50px;
  width: 3px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-animation: bighand 5s infinite linear;
  animation: bighand 5s infinite linear;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom
}
@-webkit-keyframes bighand {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes bighand {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.loader .clock .hand .small {
  margin: 0 auto;
  height: 30px;
  width: 3px;
  background: #fff;
  border-radius: 10px 10px 0 0;
  -webkit-animation: smallhand 60s infinite linear;
  animation: smallhand 60s infinite linear;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top
}
@-webkit-keyframes smallhand {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes smallhand {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.loader .clock .center {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50% 50%
}
.loader .fish {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}
.loader .fish .body {
  position: absolute;
  width: 100px;
  height: 50px;
  background: #de314f;
  border-radius: 50% 50% 50% 50%;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-animation: body 1s infinite ease-in-out;
  animation: body 1s infinite ease-in-out;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right
}
@-webkit-keyframes body {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg)
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
}
@keyframes body {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg)
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
}
.loader .fish .tail {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-radius: 10px;
  border-color: transparent transparent transparent #de314f;
  -webkit-animation: fish 1s infinite ease-in-out;
  animation: fish 1s infinite ease-in-out;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right
}
@-webkit-keyframes fish {
  0% {
    -webkit-transform: translateX(-40px) rotateY(0);
    transform: translateX(-40px) rotateY(0)
  }
  50% {
    -webkit-transform: translateX(-40px) rotateY(40deg);
    transform: translateX(-40px) rotateY(40deg)
  }
  100% {
    -webkit-transform: translateX(-40px) rotateY(0);
    transform: translateX(-40px) rotateY(0)
  }
}
@keyframes fish {
  0% {
    -webkit-transform: translateX(-40px) rotateY(0);
    transform: translateX(-40px) rotateY(0)
  }
  50% {
    -webkit-transform: translateX(-40px) rotateY(40deg);
    transform: translateX(-40px) rotateY(40deg)
  }
  100% {
    -webkit-transform: translateX(-40px) rotateY(0);
    transform: translateX(-40px) rotateY(0)
  }
}
.loader .fish .back_fin {
  position: absolute;
  width: 30px;
  height: 10px;
  background: #de314f;
  border-radius: 50% 50% 10% 10%;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-animation: back 1s infinite ease-in-out;
  animation: back 1s infinite ease-in-out
}
@-webkit-keyframes back {
  0% {
    -webkit-transform: translate(0,-25px) rotateY(0);
    transform: translate(0,-25px) rotateY(0)
  }
  50% {
    -webkit-transform: translate(0,-25px) rotateY(20deg);
    transform: translate(0,-25px) rotateY(20deg)
  }
  100% {
    -webkit-transform: translate(0,-25px) rotateY(0);
    transform: translate(0,-25px) rotateY(0)
  }
}
@keyframes back {
  0% {
    -webkit-transform: translate(0,-25px) rotateY(0);
    transform: translate(0,-25px) rotateY(0)
  }
  50% {
    -webkit-transform: translate(0,-25px) rotateY(20deg);
    transform: translate(0,-25px) rotateY(20deg)
  }
  100% {
    -webkit-transform: translate(0,-25px) rotateY(0);
    transform: translate(0,-25px) rotateY(0)
  }
}
.loader .fish .bottom_fin {
  position: absolute;
  width: 10px;
  height: 5px;
  background: #de314f;
  border-radius: 10% 10% 50% 50%;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-animation: bottom 1s infinite ease-in-out;
  animation: bottom 1s infinite ease-in-out
}
@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translate(0,25px) rotateY(0);
    transform: translate(0,25px) rotateY(0)
  }
  50% {
    -webkit-transform: translate(0,25px) rotateY(20deg);
    transform: translate(0,25px) rotateY(20deg)
  }
  100% {
    -webkit-transform: translate(0,25px) rotateY(0);
    transform: translate(0,25px) rotateY(0)
  }
}
@keyframes bottom {
  0% {
    -webkit-transform: translate(0,25px) rotateY(0);
    transform: translate(0,25px) rotateY(0)
  }
  50% {
    -webkit-transform: translate(0,25px) rotateY(20deg);
    transform: translate(0,25px) rotateY(20deg)
  }
  100% {
    -webkit-transform: translate(0,25px) rotateY(0);
    transform: translate(0,25px) rotateY(0)
  }
}
.loader .fish .bubble {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}
.loader .fish .bubble .big {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 50% 50%;
  -webkit-animation: big_bubble 1.2s infinite linear;
  animation: big_bubble 1.2s infinite linear
}
@-webkit-keyframes big_bubble {
  0% {
    opacity: 1;
    -webkit-transform: translate(100px,-20px);
    transform: translate(100px,-20px)
  }
  50% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px)
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px,-20px);
    transform: translate(-100px,-20px)
  }
}
@keyframes big_bubble {
  0% {
    opacity: 1;
    -webkit-transform: translate(100px,-20px);
    transform: translate(100px,-20px)
  }
  50% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px)
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px,-20px);
    transform: translate(-100px,-20px)
  }
}
.loader .fish .bubble .small {
  position: absolute;
  width: .5rem;
  height: .5rem;
  background: #fff;
  border-radius: 50% 50%;
  -webkit-animation: small_bubble 1s infinite linear;
  animation: small_bubble 1s infinite linear
}
@-webkit-keyframes small_bubble {
  0% {
    opacity: 1;
    -webkit-transform: translate(100px,20px);
    transform: translate(100px,20px)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px,20px);
    transform: translate(-100px,20px)
  }
}
@keyframes small_bubble {
  0% {
    opacity: 1;
    -webkit-transform: translate(100px,20px);
    transform: translate(100px,20px)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100px,20px);
    transform: translate(-100px,20px)
  }
}
.loader .cube {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.loader .cube_one div {
  width: 2rem;
  height: 2rem;
  background: #de314f;
  -webkit-animation: cube 4s infinite linear;
  animation: cube 4s infinite linear
}
.loader .cube_one div:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.loader .cube_one div:nth-child(2) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s
}
.loader .cube_one div:nth-child(3) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.loader .cube_two div {
  width: 2rem;
  height: 2rem;
  background: #de314f;
  -webkit-animation: cube 4s infinite linear;
  animation: cube 4s infinite linear
}
.loader .cube_two div:nth-child(1) {
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s
}
.loader .cube_two div:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.loader .cube_two div:nth-child(3) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}
.loader .cube_tree div {
  width: 2rem;
  height: 2rem;
  background: #de314f;
  -webkit-animation: cube 4s infinite linear;
  animation: cube 4s infinite linear
}
.loader .cube_tree div:nth-child(1) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s
}
.loader .cube_tree div:nth-child(2) {
  -webkit-animation-delay: -3.5s;
  animation-delay: -3.5s
}
.loader .cube_tree div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}
@-webkit-keyframes cube {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes cube {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.loader .circle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .circle div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 3px solid #de314f;
  border-radius: 50% 50%
}
.loader .circle div:nth-child(1) {
  -webkit-animation: .5s circleV infinite linear;
  animation: .5s circleV infinite linear
}
.loader .circle div:nth-child(2) {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s;
  width: 4rem;
  height: 4rem;
  -webkit-animation: .9s circleH infinite linear;
  animation: .9s circleH infinite linear
}
.loader .circle div:nth-child(3) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s;
  width: 6rem;
  height: 6rem;
  -webkit-animation: 1s circleV infinite linear;
  animation: 1s circleV infinite linear
}
@-webkit-keyframes circleV {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }
  50% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg)
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }
}
@keyframes circleV {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }
  50% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg)
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }
}
@-webkit-keyframes circleH {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
}
@keyframes circleH {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }
}
.loader .foot {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .foot_right {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  position: absolute;
  -webkit-animation: walkR 2s infinite linear;
  animation: walkR 2s infinite linear
}
.loader .foot_right_front {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  width: 1rem;
  height: 1.5rem;
  border-radius: 50% 50% 50% 50%/60% 60% 10% 10%;
  background: #de314f
}
.loader .foot_right_back {
  width: 1rem;
  height: 1rem;
  border-radius: 50% 50% 50% 50%/10% 10% 60% 60%;
  background: #de314f
}
@-webkit-keyframes walkR {
  0% {
    -webkit-transform: translate(5px,-70px) rotate(5deg);
    transform: translate(5px,-70px) rotate(5deg)
  }
  90% {
    opacity: 1
  }
  100% {
    -webkit-transform: translate(5px,70px) rotate(5deg);
    transform: translate(5px,70px) rotate(5deg);
    opacity: 0
  }
}
@keyframes walkR {
  0% {
    -webkit-transform: translate(5px,-70px) rotate(5deg);
    transform: translate(5px,-70px) rotate(5deg)
  }
  90% {
    opacity: 1
  }
  100% {
    -webkit-transform: translate(5px,70px) rotate(5deg);
    transform: translate(5px,70px) rotate(5deg);
    opacity: 0
  }
}
.loader .foot_left {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  position: absolute;
  -webkit-animation: walkL 2s infinite linear;
  animation: walkL 2s infinite linear;
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.loader .foot_left_front {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  width: 1rem;
  height: 1.5rem;
  border-radius: 50% 50% 50% 50%/60% 60% 10% 10%;
  background: #de314f
}
.loader .foot_left_back {
  width: 1rem;
  height: 1rem;
  border-radius: 50% 50% 50% 50%/10% 10% 60% 60%;
  background: #de314f
}
@-webkit-keyframes walkL {
  0% {
    -webkit-transform: translate(-5px,-70px) rotate(-5deg);
    transform: translate(-5px,-70px) rotate(-5deg)
  }
  90% {
    opacity: 1
  }
  100% {
    -webkit-transform: translate(-5px,70px) rotate(-5deg);
    transform: translate(-5px,70px) rotate(-5deg);
    opacity: 0
  }
}
@keyframes walkL {
  0% {
    -webkit-transform: translate(-5px,-70px) rotate(-5deg);
    transform: translate(-5px,-70px) rotate(-5deg)
  }
  90% {
    opacity: 1
  }
  100% {
    -webkit-transform: translate(-5px,70px) rotate(-5deg);
    transform: translate(-5px,70px) rotate(-5deg);
    opacity: 0
  }
}
.loader .box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.loader .box_one {
  -webkit-transform: perspective(150px) rotateY(-30deg);
  transform: perspective(150px) rotateY(-30deg)
}
.loader .box_one div {
  margin: 6px 0 6px 3px;
  width: 2.5rem;
  height: 2rem;
  background: #de314f;
  -webkit-animation: box 2s infinite linear;
  animation: box 2s infinite linear
}
@-webkit-keyframes box {
  50% {
    -webkit-transform: scale(.1);
    transform: scale(.1)
  }
}
@keyframes box {
  50% {
    -webkit-transform: scale(.1);
    transform: scale(.1)
  }
}
.loader .box_two {
  -webkit-transform: perspective(150px) rotateY(-30deg);
  transform: perspective(150px) rotateY(-30deg)
}
.loader .box_two div {
  margin: 6px 3px 6px 0;
  width: 3rem;
  height: 2.4rem;
  background: #de314f;
  -webkit-animation: box 2s infinite linear;
  animation: box 2s infinite linear
}
@keyframes box {
  50% {
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
}
.text__base {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #fff;
  cursor: pointer
}
.text1 {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
  display: inline-block
}
.text1::after {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: absolute;
  bottom: -5px;
  left: -5px;
  content: '';
  width: 3px;
  height: 100%;
  border-bottom: 3px solid #de314f;
  border-right: 3px solid #de314f;
  opacity: 0
}
.text1:hover::after {
  width: 110%;
  height: 100%;
  opacity: 1
}
.text2:hover {
  -webkit-mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
  animation: shine 2s infinite
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%
  }
  to {
    -webkit-mask-position: -50%
  }
}
.text3 {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}
.text3:hover {
  background: #de314f
}
.text4 {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}
.text4:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
.text5 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.text5:hover {
  color: #de314f
}
.text6 {
  position: relative;
  display: block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}
.text6::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #de314f;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s
}
.text6:hover {
  color: grey
}
.text6:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left
}
.box1 {
  overflow: hidden;
  margin: 10px;
  width: 200px;
  height: 200px
}
.box1 .img1 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}
.box1 .img1:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3)
}
.box2 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px
}
.box2 .img2 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}
.box2 .img2:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}
.box3 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.box3 .img3 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.box3:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 5px 5px 5px rgba(196,196,196,.877);
  box-shadow: 5px 5px 5px rgba(196,196,196,.877)
}
.box4 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.box4 .img4 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.box4:hover {
  -webkit-filter: blur(0);
  filter: blur(0)
}
.box5 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.box5 .img5 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.box5 .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(0,0,0,.596);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}
.box5 .mask .caption {
  font-size: 130%;
  color: #fff;
  text-align: center;
  line-height: 200px
}
.box5:hover .mask {
  top: 0
}
.box6 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px
}
.box6 .img6 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.box6 .img6:hover {
  -webkit-transform: rotate(-25deg) scale(1.5);
  -ms-transform: rotate(-25deg) scale(1.5);
  transform: rotate(-25deg) scale(1.5)
}
.box7 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.box7 .img7 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.box7 .img7_after {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0
}
.box7:hover .img7_after {
  opacity: 1
}
.box8 {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative
}
.box8 .img8 {
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px
}
.box8 .mask {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.596);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}
.box8 .mask .caption {
  font-size: 130%;
  color: #fff;
  text-align: center;
  line-height: 200px
}
.box8:hover .mask {
  top: 100%
}
#gradient {
  color: rgba(255,255,255,.801);
  background: -webkit-gradient(linear,left top,right top,from(#de314f),to(#01427b));
  background: -o-linear-gradient(left,#de314f,#01427b);
  background: linear-gradient(to right,#de314f,#01427b)
}
#gradient .container {
  width: 100%;
  padding: 21px;
  height: 100vh
}
#gradient .color {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 144px 144px;
  grid-template-columns: 144px 144px;
  grid-gap: 40px;
  margin-top: 70px
}
#gradient .color .color__picker {
  width: 144px;
  height: 50px
}
#gradient h2 {
  text-align: center;
  font-family: inconsolata,monospace;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 35px 0 0 0
}
#gradient .result {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
#gradient #myInput {
  font-family: inconsolata,monospace;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  letter-spacing: .01em;
  padding: 24px;
  width: 330px;
  border-radius: 20px;
  border: none;
  margin-top: 24px
}
.result__btn {
  margin-top: 1rem;
  border-radius: 1rem;
  background: #de314f;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  padding: 1rem;
  letter-spacing: .2rem
}
header {
  width: 100%;
  padding: 21px
}
header p {
  margin: 0
}
header .logo {
  font-family: Jura,sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr;
  -ms-grid-columns: min-content 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
header .logo .logo__title {
  font-size: 4.3rem;
  color: #fff;
  margin-left: 10px
}
header .logo .logo__tagline {
  display: none;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-size: 2.6rem;
  color: #de314f;
  margin-top: 6px
}
@media screen and (min-width:480px) {
  header .logo .logo__tagline {
    display: block
  }
}
.menu__button {
  z-index: 1000;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 21px;
  right: 21px;
  cursor: pointer
}
.menu__button .menu__icon {
  stroke: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.menu__button .menu__icon:hover {
  stroke: #de314f
}
.menu__list {
  z-index: 100;
  margin: 0;
  padding-left: 0;
  height: 0%;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,.9);
  overflow-y: hidden;
  position: fixed;
  display: block;
  text-align: center
}
.menu__list .menu__item {
  opacity: 0;
  padding-top: 69px
}
.menu__list .menu__link {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none
}
.menu__list .menu__link:hover {
  color: #de314f;
  cursor: pointer
}
.menu__list--open {
  height: 100%;
  -webkit-animation: fadeIn .4s;
  animation: fadeIn .4s;
  padding-top: 77px
}
.menu__list--open .menu__item {
  opacity: 1
}
.menu__button--open .menu__icon-cross,
.menu__icon-menu {
  display: block
}
.menu__button--open .menu__icon-menu,
.menu__icon-cross {
  display: none
}